@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  margin: 80px 0;
  font-weight: bold;
}

h1 span {
  color: #F7D939;
}

h2 {
  margin-bottom: 48px;
  font-weight: bold;
}

h2 span {
  border-bottom: 4px solid #F7D939;
}

.header {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: white;
  margin-bottom: 24px;
}

form {
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container p,
.form-container-mobile p {
  font-size: 1.5em;
  font-style: italic;
}

.form-container-mobile {
  display: none;
}

.btn-input {
  background-color: #F7D939;
  color: black;
  font-weight: bold;
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
  background-clip: unset;
}

.scroll {
  display: none;
}

.content {
  flex: 1 0 auto;
}

.card-concept {
  display: flex;
  background-color: #F8F8F8;
  box-shadow: 2px 2px 4px rgba(210, 210, 210, 0.25);
  border: 1px solid #E8E8E8;
  padding: 24px;
  margin-top: 16px;
  border-radius: 4px;
  align-items: center;
}

.card-concept .icon {
  font-size: 72px;
  width: 100px;
  text-align: center;
  flex-shrink: 0;
}

.card-concept .description {
  margin-left: 32px;
}

.footer {
  margin-top: 40px;
  flex-shrink: 0;
  padding: 16px 0;
  background-color: rgb(220, 220, 220);
}

@media(max-width: 576px) {
  .header {
    background-size: cover;
    padding: 20px 0;
  }

  .form-container {
    display: none;
  }

  .form-container-mobile {
    display: block;
  }

  .form-control {
    text-align: center;
  }

  .btn-input {
    width: 100%;
  }

  h1 {
    margin: 80px 0;
    font-size: 2.5em;
  }

  h2 {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 24px;
  }

  .card-concept {
    padding: 16px;
  }

  .card-concept .icon {
    font-size: 40px;
    width: 50px;
    text-align: center;
    flex-shrink: 0;
  }

  .scroll {
    display: block;
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    left: 50%;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translate(-50%, 0);
    }
    40% {
      transform: translate(-50%,-10px);
    }
    60% {
      transform: translate(-50%,-5px);
    }
  }
}
